<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Painel Administrativo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/php-crud/view/painel.php">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline" method="POST" action="busca.php" id="">
            <input class="form-control mr-sm-2" type="text" placeholder="Digite aqui" aria-label="Search" id="busca" name="busca">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </nav>
  
      </ul>
  
    </div>
    <nav class="navbar navbar-light bg-light navbar-nav mr-auto">
          <form class="form-inline" method="POST" action="../index.php">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair</button>
          </form>
        </nav>
  </nav>